body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.learn-more {
    background-color: #60267F;
    width: 100%;
    height: 30px;
}

.learn-more-text {
    color: white;
    text-align: center;
}

.learn-more-link {
    color: white;
    font-weight: lighter;
}

.header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left: 5%;
    margin-top: 21.5px;
}

.menu {
    width: 30%;
    margin-top: 35px;
    font-weight: bold;
    font-size: 16px ;
    order: 2;
}

.menu-link {
    margin-right: 3%;
    text-decoration: none;
    transition: all .2s ease-in-out; 
}

.menu-link:hover {
    font-size: 18px ;
    color: red;
    text-decoration-line: underline;
}

.menu-link.last-link {
    margin-right: 0%;
    color: #9A54BC;
    border: 2px solid #9A54BC;
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header {
    margin-top: 70px;
    text-align: center;
    font-size: 50px;
    color: #2B0236;
}


.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 15px 30px;
    background-color: #9A54BC;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;

}
.header-button-link:hover {

}

.forms-combination {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.forms {
    position: absolute;
}

.forms-combination > .big-circle {
    width: 700px;
    height: 700px;
    background-color: #F5E1FF4D;
    border-radius: 50%;
}

.forms-combination  > .mid-circle {
    width: 415px;
    height: 415px;
    background-color: #F5E1FFCC;
    border-radius: 50%;
    top: 40px;
}

.forms-combination > .square {
    width: 235px;
    height: 425px;
    background-color: #fff;
    border: 3px solid #9A54BC;
    border-radius: 10px;
    top: 60px;
}

.forms-combination > .logo {
    top: 220px;
}

.forms-combination > .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 40px;
    background-color: #fff;
    border: 3px solid #9A54BC;
    border-radius: 5px;
    text-decoration: none;
    top: 550px;
    color: #9A54BC;
    font-weight: bold;
    font-size: 16px;
}

.brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 850px;
}

.brands > .brands-title {
    margin-top: 70px;
    text-align: center;
    font-size: 38px;
    color: #2B0236;
}

.brands > .brand-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
    margin-top: 75px;
}

.brands .image {
    width: 7%;
    height: auto;
}

.brands .image:last-child {
    width: 14%;
    height: auto;
}

.apps {

}

.apps-title {
    margin-top: 210px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 38px;
    color: #2B0236;
}

.apps > .app-information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column-wrap;
    gap: 10%;
}

.app-information > .left-side {
    margin-left: 15%;
    width: 40%;
}

.left-side > .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px #333;
    border-radius: 5px;
    margin-bottom: 60px;
}

.left-side > .buttons > .button {
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    flex-grow: 1;
    text-align: center;
}

.left-side > .buttons > .button.button1 {
    background-color: #9A54BC;
    color: white;
}

.left-side > .paragraphs > .paragraph {
    padding: 50px 20px;
    background-color: #F2F2F2;
    margin-bottom: 10px;
}

.app-information > .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-right: 15%;
    position: relative;
}

.right-side > .phone {
    width: 400px;
    height: auto;
}

.right-side .phone-content {
    position: absolute;
    width: 280px;
    height: 620px;
}

.right-side .phone-logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.right-side .logo2 {
    width: 80px;
    height: auto;
}

.right-side .bell-icon {
    transform: scale(1.2);
}

.right-side .phone-title {
    margin-bottom: 20px;
}

.right-side .project-name {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 20px;
}

.right-side .name-input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.right-side .name-input::placeholder {
    text-align: center;
}

.right-side .project-type {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 20px;
}

.right-side .project-list {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.right-side .project-list::placeholder {
    text-align: center;
}

.right-side .add-members {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 20px;
}

.right-side .input-and-button {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.right-side .member-input {
    height: 30px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.right-side .member-input::placeholder {
    text-align: center;
}

.right-side .member-add-button {
    text-align: center;
    padding: 9px 27px;
    background-color: #9A54BC;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.right-side .create-project {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 32px;
    background-color: #9A54BC;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}