body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.learn-more {
    background-color: #60267F;
    width: 100%;
    height: 30px;
}

.learn-more-text {
    color: white;
    text-align: center;
}

.learn-more-link {
    color: white;
    font-weight: lighter;
}

.header {
    width: 100%;
    height: 90px;
    display: inline-block;
}

.logo{
    margin-left: 7%;
    margin-top: 21.5px;
}

.menu {
    width: 30%;
    margin-top: 35px;
    float: right;
    font-weight: bold;
    font-size: 16px ;
}

.menu-link {
    margin-right: 4%;
    text-decoration: none;
    transition: all .2s ease-in-out; 
}

.menu-link:hover {
    font-size: 18px ;
}

.menu-link.last-link {
    margin-right: 0%;
    color: #9A54BC;
    border: 2px solid #9A54BC;
    border-radius: 3px;
    padding: 5px 10px;
}